run = ["bash", "main.sh"]

entrypoint = "main.sh"
modules = ["nodejs-20"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["bash", "main.sh"]

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 2006
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Workflow"

[[workflows.workflow]]
name = "Main Workflow"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash main.sh"

[workflows.workflow.metadata]
outputType = "console"
